@import "tailwindcss";

@font-face {
  font-family: "Baskerville";
  src: url("/Fonts/BaskervilleBT.ttf") format("truetype");
}

@font-face {
  font-family: "EB Garamond";
  src: url("/Fonts/EBGaramond-Regular.ttf") format("truetype");
}

@theme {
  --font-heading: "Baskerville", serif;
  --font-body: "EB Garamond", serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
