@import "tailwindcss";

@font-face {
  font-family: "Baskerville";
  src: url("/Fonts/BaskervilleBT.ttf") format("truetype");
}

@font-face {
  font-family: "EB Garamond";
  src: url("/Fonts/EBGaramond-Regular.ttf") format("truetype");
}

@theme {
  --font-heading: "Baskerville", serif;
  --font-body: "EB Garamond", serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.border-shape {
  clip-path: polygon(0% 0%, 0% 100%, 70% 100%, 100% 80%, 100% 0%);
}
.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
